{% extends 'template.html.twig' %}

{% block title %}{{ parent() }} - Liste des articles{% endblock %}
{% block menu %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path("pages_index") }}">Accueil de l'administration</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('pages_new') }}">Créer un nouvel article</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('the_logout')}}">Déconnexion</a>
        </li>
    </ul>
{% endblock %}
{% block body %}
<h1 class="mb-0">Admin index</h1>
     <button ><a class="nav-link" href="{{ path('the_logout')}}">Déconnexion</a></button>
    <table class="table">
        <thead>
            <tr>
                <th>Idthepage</th>
                <th>Thetitle</th>
                <th>Thelongtext</th>
                <th>Thetime</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thepage in thepages %}
            <tr>
                <td>{{ thepage.idthepage }}</td>
                <td>{{ thepage.thetitle }}</td>
                <td>{{ thepage.thelongtext }}</td>
                <td>{{ thepage.thetime ? thepage.thetime|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('thepage_show', {'idthepage': thepage.idthepage}) }}">show</a>
                    <a href="{{ path('thepage_edit', {'idthepage': thepage.idthepage}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Pas encore d'article</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('thepage_new') }}">Create new</a>
{% endblock %}
